p {
  font-size: 20px;
}

* {
  margin: 20px;
  padding: 20px;
}

#third-paragraph {
  background-attachment: fixed;
  background-image: url("http://www.google.com.br/images/srpr/logo11w.png");
  background-repeat: no-repeat;
  color: #fff334;
}

.second-paragraph {
  background-color: #ff0000;
  color: #ffffff;
}
